<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunbu.spring.bucks.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.kunbu.spring.bucks.common.entity.CategoryEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="category_code" jdbcType="INTEGER" property="categoryCode" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, category_code, category_name, parent_id, `level`, `state`, operator_id, version, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from category
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectOneUse" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from category
    where `state` = #{state}
    limit 1
  </select>

  <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from category
    where `state` = #{state}
    order by `level`
  </select>

  <select id="selectByCategoryName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from category
    where `state` = #{state}
    AND category_name = #{categoryName}
  </select>

  <update id="discardCategoryTree" parameterMap="java.util.Map">
    update category
    set `state` = #{setState},
      modify_time = #{modifyTime},
      operator_id = #{operatorId}
    where `state` = #{queryState}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from category
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kunbu.spring.bucks.common.entity.CategoryEntity">
    insert into category (id, category_code, category_name,
      parent_id, `level`, `state`,
      operator_id, version, create_time,
      modify_time)
    values (#{id,jdbcType=VARCHAR}, #{categoryCode,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR},
      #{parentId,jdbcType=VARCHAR}, #{level,jdbcType=TINYINT}, #{state,jdbcType=VARCHAR},
      #{operatorId,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into category (id, category_code, category_name,
      parent_id, `level`, `state`,
      operator_id, version, create_time,
      modify_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
        (#{item.id,jdbcType=VARCHAR}, #{item.categoryCode,jdbcType=INTEGER}, #{item.categoryName,jdbcType=VARCHAR},
        #{item.parentId,jdbcType=VARCHAR}, #{item.level,jdbcType=TINYINT}, #{item.state,jdbcType=VARCHAR},
        #{item.operatorId,jdbcType=VARCHAR}, #{item.version,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP},
        #{item.modifyTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.kunbu.spring.bucks.common.entity.CategoryEntity">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categoryCode != null">
        category_code,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null">
        #{categoryCode,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=TINYINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kunbu.spring.bucks.common.entity.CategoryEntity">
    update category
    <set>
      <if test="categoryCode != null">
        category_code = #{categoryCode,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=TINYINT},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kunbu.spring.bucks.common.entity.CategoryEntity">
    update category
    set category_code = #{categoryCode,jdbcType=INTEGER},
      category_name = #{categoryName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      `level` = #{level,jdbcType=TINYINT},
      `state` = #{state,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>